<section>
  <div class="me-section">
    <div class="me-intro-row">
      <img src="/assets/me_profile.jpg" class="me-img">
      <p class="me-text">Hello! My name is Juan Diego, but most of my friends call me JD. I am a passionate Full Stack developer that is always willing to go the extra mile to make the client's ideas become a reality.<br><br>
      I have been interested in programming and computers in general ever since I was a young boy and I started to program around the age of 16, mostly watching YouTube videos and doing online courses. But, it wasn't until 2019 when I finally decided to do a Bootcamp, thats how I ended up in <a href="https://www.bogotabootcamp.com/" target="_blank" style="color: #ecf0f1;">Bogotá Bootcamp.</a><br>
      <br>Currently in: Orlando, FL</p>
    </div>
  </div>
</section>

<section>
  <div class="about-me sections">
    <h1 class="some-work-title">About Me</h1>
  </div>
</section>

<section>
  <div class="skills sections">
    <h1 class="some-work-title">Skills</h1>
  </div>
</section>

<section>
  <div class="project-section">
    <h1 class="some-work-title">Some of my work</h1>
    <div class="my-work">

    </div>
  </div>
</section>
