<section>
  <div class="me-section">
    <div class="me-intro-row">
      <img src="https://jd-pics.s3.us-east-2.amazonaws.com/jd.png" class="me-img">
      <p class="me-text">Hello! My name is Juan Diego, but most of my friends call me JD. I am a passionate Full Stack Ruby on Rails developer that is always willing to go the extra mile to make the client's ideas become a reality.<br><br>
      I have been interested in programming and computers in general ever since I was a young boy and I started to program around the age of 16, mostly watching YouTube videos and doing online courses. But, it wasn't until 2019 when I finally decided to do a Bootcamp, thats how I ended up in <a href="https://www.bogotabootcamp.com/" target="_blank" style="color: #ecf0f1;">Bogotá Bootcamp.</a><br>
      I am also fluent on English and Spanish.<br>
      <br>Currently in: Orlando, FL</p>
    </div>
  </div>
</section>

<section>
  <div class="sections skills">
    <h1 class="some-work-title">Skills</h1>
    <div class="skill-icons">
      <div class="row tech-row" id="tech-row1">
        <div class="col-sm tech-col">
          <a class="devicon-atom-original icon atom" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-bootstrap-plain icon bootstrap" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-css3-plain icon css" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-facebook-plain icon fb" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-git-plain icon git" href="/"></a>
        </div>
      </div>
      <div class="row tech-row" id="tech-row2">
        <div class="col-sm tech-col">
          <a class="devicon-github-plain icon github" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-heroku-plain icon heroku" href="/"></a><br>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-html5-plain icon html5" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-javascript-plain icon js" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-jquery-plain icon jquery" href="/"></a>
        </div>
      </div>
      <div class="row tech-row" id="tech-row3">
        <div class="col-sm tech-col">
          <a class="devicon-postgresql-plain icon pg" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-rails-plain icon rails" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-ruby-plain icon ruby" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-sass-original icon sass" href="/"></a><br>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-slack-plain icon slack" href="/"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="project-section sections">
    <h1 class="some-work-title">Some of my work</h1>
    <div class="my-work">
      <div class="card" style="width: 16rem;">
        <img src="https://bogota-dev.s3.us-east-2.amazonaws.com/bd_logo_white_bg.png" class="card-img-top" alt="..." style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Bogota Dev</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.bogotadev.com/" target="_blank" class="btn btn-primary">Visit</a>
        </div>
      </div>

      <div class="card" style="width: 16rem;">
        <img src="https://jd-pics.s3.us-east-2.amazonaws.com/bogota-bootcamp-logo.png" class="card-img-top" alt="..."  style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Bogota Bootcamp</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.bogotabootcamp.com/" target="_blank" class="btn btn-primary">Visit</a>
        </div>
      </div>

      <div class="card" style="width: 16rem;">
        <img src="https://jd-pics.s3.us-east-2.amazonaws.com/coming_soon.jpg" class="card-img-top" alt="..."  style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Inventory Management System</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.bogotabootcamp.com/" target="_blank" class="btn btn-primary disabled">Visit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="goals-section">
  <h1 class="some-work-title">JD's 2020 Goals</h1>
  <% if current_user && current_user.role == 'admin' %>
    <%= link_to 'New Goal', new_task_path %><br>
  <% end %>
  <%= render "layouts/tasks" %>
</section>

<section>
  <div class="">

  </div>
</section>
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/7UM_2KJZ91o?start=3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
