<section>
  <div class="me-section">
    <div class="me-intro-row">
      <img src="/assets/me_profile.jpg" class="me-img">
      <p class="me-text">Hello! My name is Juan Diego, but most of my friends call me JD. I am a passionate Full Stack developer that is always willing to go the extra mile to make the ideas of the clients become a reality.</p>
    </div>
  </div>
</section>
