<%= render "layouts/header" %>
<section>
  <div class="me-section">
    <div class="me-intro-row">
      <img src="https://jd-pics.s3.us-east-2.amazonaws.com/jd.png" class="me-img">
      <p class="me-text">Hello! My name is Juan Diego, but most of my friends call me JD. I am a Full Stack Ruby on Rails Developer, specialized in Back-end that is always willing to go the extra mile to make the client's ideas become a reality.<br><br>
      Fluent on English, Spanish and conversational on Dutch and Papiamento.<br>
      <br>Currently in: Miami, FL<br>
      <br>Site Under Construction...<br>
      <%= t('hello') %>
      <!-- <br><a href="./assets/documents/jd-soteldo.pdf" download="jd-soteldo.pdf" target="_blank">My Resume</a></p> -->
    </div>
  </div>
</section>

<section>
  <div class="sections skills">
    <h1 class="index-title">Technologies I use</h1>
    <div class="skill-icons">
      <div class="row tech-row" id="tech-row1">
        <div class="col-sm tech-col">
          <a class="devicon-atom-original icon atom" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-bootstrap-plain icon bootstrap" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-css3-plain icon css" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-facebook-plain icon fb" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-git-plain icon git" href="/"></a>
        </div>
      </div>
      <div class="row tech-row" id="tech-row2">
        <div class="col-sm tech-col">
          <a class="devicon-github-plain icon github" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-heroku-plain icon heroku" href="/"></a><br>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-html5-plain icon html5" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-javascript-plain icon js" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-jquery-plain icon jquery" href="/"></a>
        </div>
      </div>
      <div class="row tech-row" id="tech-row3">
        <div class="col-sm tech-col">
          <a class="devicon-postgresql-plain icon pg" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-rails-plain icon rails" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-ruby-plain icon ruby" href="/"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-sass-original icon sass" href="/"></a><br>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-slack-plain icon slack" href="/"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="project-section sections">
    <h1 class="index-title">Some of my work</h1>
    <div class="my-work">
      <div class="card" style="width: 16rem;">
        <img src="https://bogota-dev.s3.us-east-2.amazonaws.com/bd_logo_white_bg.png" class="card-img-top" alt="..." style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Bogotá Dev</h5>
          <p class="card-text">For the past 5 months I've been focusing on the front-end of Bogota Dev, so the website can be easily navigate and also explain the elaborate processes of web-dev to new clients.</p>
          <a href="https://www.bogotadev.com/" target="_blank" class="btn btn-primary">Visit</a>
        </div>
      </div>

      <div class="card" style="width: 16rem;">
        <img src="https://jd-pics.s3.us-east-2.amazonaws.com/bogota-bootcamp-logo.png" class="card-img-top" alt="..."  style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Bogotá Bootcamp</h5>
          <p class="card-text">Been working with Bogotá Bootcamp for 6 months. On both back-end and front-end. Focusing on automation and UX.</p>
          <a href="https://www.bogotabootcamp.com/" target="_blank" class="btn btn-primary">Visit</a>
        </div>
      </div>

      <div class="card" style="width: 16rem;">
        <img src="https://jd-pics.s3.us-east-2.amazonaws.com/coming_soon.jpg" class="card-img-top" alt="..."  style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Inventory Management System</h5>
          <p class="card-text">My first personal big app. I'm still working on a user-friendly Inventory Management System and hope to release it at the end of 2020.</p>
          <a href="https://www.bogotabootcamp.com/" target="_blank" class="btn btn-primary disabled">Visit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="goals-section">
  <h1 class="index-title">JD's 2020 Goals</h1>
  <%= render "layouts/tasks" %>
</section>

<section class="goals-section">
  <h1 class="index-title">Personal References</h1>

</section>

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/7UM_2KJZ91o?start=3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<footer>
  <%= render 'layouts/footer' %>
</footer>
