.twitter {
  color: #1DA1F2;
}

.twitter:hover {
  color: #2b99c3;
}

.instagram {
  color: #c32aa3;
}

.instagram:hover {
  color: #833AB4;
}

.github {
  color: #333;
}

.github:hover {
  color: #6e5494;
}

.email {
  color: #ff7979;
}

.email:hover {
  color: #e84118;
}

.linkedin,
.linkedin-in {
  color: #2867B2
}

.linkedin:hover {
  color: #1e3799;
}

.linkedin-in:hover {
  color: #ffffff;
}

.display-right {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 80px;
}

.navbar-brand {
  margin-left: 25px;
}

.navbar-brand-blog, .navbar-brand-blog:hover {
  color: #f8f9fa;
  margin-left: 25px;
  font-size: 20px;
  font-family: 'New Rocker', cursive;
}

#blog-header-link {
  margin-right: 6vh;
}

#blog-header-link:hover {
  text-decoration: underline;
}

#blog-navbar {
  background: #000;
}

#light-letter {
  color: #f8f9fa;
  font-family: 'New Rocker', cursive;
}

.blog-nav-link, .blog-nav-link:hover {
  font-family: 'New Rocker', cursive;
  margin: auto;
  color: #fff;
}
