.skill-icons {
  width: 50%;
  margin: auto;
}

.icon {
  font-size: 60px;
  color: #000
}

.icon:hover {
  text-decoration: none;
}

.html5:hover {
    color: #E44D26;
}

.css:hover {
    color: #2965f1;
}

.js:hover {
    color: #f0db4f;
}

.bootstrap:hover {
    color: #553c7b;
}

.css:hover {
    color: #2965f1;
}

.heroku:hover {
    color: #9E7CC1;
}

.ruby:hover {
    color: #820c02;
}

.rails:hover {
    color: #cc0000;
}

.jquery:hover {
    color: #0769ad;
}

.pg:hover {
  color: #0064a5;
}

.git:hover {
  color: #f34f29;
}

.sass:hover {
  color: #c69;
}

.slack:hover {
  color: #E01E5A;
}

.tech-col {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 4vh;
}

.skills {
  text-align: center;
}
