<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h2><a href="/" class="navbar-brand">JD SOTELDO</a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse display-right" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% unless current_page?(controller: 'posts', action: 'index') %>
        <h4><%= link_to 'Check the Blog', posts_path, id:"blog-header-link", class: "nav-item nav-link active" %></h4>
      <% end %>
      <a class="nav-item nav-link active" href="mailto:dev.jdsoteldo@gmail.com?subject=hello there!">
        <i class="fa fa-envelope fa-2x email"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/jdsoteldo" target="_blank">
        <i class="fab fa-twitter fa-2x twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/jd-soteldo/" target="_blank">
        <i class="fab fa-linkedin fa-2x linkedin"></i>
      </a>
      <a class="nav-item nav-link" href="https://instagram.com/soteldoooooo" target="_blank">
        <i class="fab fa-instagram fa-2x instagram"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/jdsoteldo" target="_blank">
        <i class="fab fa-github fa-2x github"></i>
      </a>
    </div>
  </div>
</nav>
